.container.tuto_container{
    width: 60%;
    padding-bottom: 4rem;
    height: auto;
}

.tuto_avatar{
    width: 30%;
    overflow: hidden;
    aspect-ratio: 1/1;
    margin: 0 auto 1rem;
}
#img_tuto{
    border-radius: 1%;
    height: auto;
}

.tuto{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    min-height: 50vh;
}

.client_review{
    color: var(--color-light);
    font-size: 1rem;
    font-weight: 500;
    display: block;
    width: 80%;
    margin: auto;
}



/*================== MEDIA QUERY (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
    .container.tuto_container{
        width: 60%;
    }
    .tuto{
        font-size: 1.5rem;
    }
    .tuto_avatar{
        width: 70%;
        overflow: hidden;
        margin: 0 auto 0.5rem;
    }

}
    /* ================== MEDIA QUERY (SMALL DEVICES) =============== */
    @media screen and (max-width: 600px) {
        .container.tuto_container{
        width: var(--container-width-sm);
        height: auto;
    }
    .tuto_avatar{
        width: 60%;
        overflow: hidden;
        margin: 0 auto 0.5rem;
    }
    
    .client_review{
        width: var(--container-width-sm);
    }
    }