header{
    height: 50vh;
    padding-top: 4rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* ============ CV ============ */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
/*================== MEDIA QUERY (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
    header{
        height: auto;
    }
}

/* ================== MEDIA QUERY (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
    header{
        height: auto;
    }
}
